\#*
workspace
recentf
elpa
eclipse.jdt.ls
*.orig
.lsp-session
.lsp-session-v1
.dap-breakpoints
.cache
srecode-map.el
url
\%*
.savehist
ac-comphist.dat
pkg
project-explorer-cache
projectile-bookmarks.eld
request
tramp
transient
auto-save-list
backups
recentf\~
pyim
*.elc
server
.last-package-update-day
places
